*{
    margin: 0;
    padding: 0;
}

body{
    background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
    background-color: mediumspringgreen;
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;

}

/* HEADER */
.title h1{
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
}

.container{
    background: #fff;
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;

    display: grid;
    gap: 1.6em;

    /*coloco las columnas*/
    grid-template-columns: repeat(5, 1fr);
}


.container > .header, /*para el header que está dentro del container*/
.container > .content,
.container > .sidebar,
.container > .footer,
.container > div{
    background: #fff;
    padding: 20px;
    border: 1px solid #000000;
}

/*defino areas*/
.container .header,
.container .footer {
    grid-column: 1/-1; /*Defino el área del contenedor del header y del footer. 1/-1 indica de comienzo a fin*/
    background: #1e272e;
    color: #ffffff;
}

.container > .content {
    grid-column: span 3; /*span indica cuántas columnas va a abarcar esta etiqueta*/
}

.content > .article {
    background: #808e9b;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9;
}

.content .article h1,
.content .article p {
    padding: 10px;
}

.container > .sidebar {
    grid-column: span 2;
    background: #485460;
    color: #ffffff;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .sidebar img {
    width: 100%;
    margin-top: 5px;
}

.container > .related-post {
    background: #2d3436;
    color: #ffffff;
    height: 180px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease; /*defino el tiempo de la transición*/
}

.container > .related-post:hover {
    cursor: pointer;
    color: #000000;
    background: #ffffff;
}


@media screen and (max-width: 768px) {
    .header {
        text-align: center;
    }

    .container .content {
        grid-column: 1/-1;
    }

    .container .sidebar {
        grid-column: 1/-1;
    }

    .container .related-post {
        grid-column: 1/-1;
    }
}
